
<!DOCTYPE html>
<html>
  <head>
    <title>AllChat</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
<h1>What intrests You</h1>
    <div class="container">
        <% forums.forEach((f)=>{%>
            <div class="card">
              <img src='<%= f.img%>'>
              <%= f.name%>
              <%= f.subject%>
            <a href="/forums/<%= f._id%>">Join</a> 
      
        </div>
    </div>
        <%})%>
    

    <h2>Nothing Why dont you tell us then?</h2>
</br><a href = "/forums/new"><button>Start discusion</button></a>