<form id="new-forum" action="/forums" method="POST">
    <label>What's your new form called?</label>
    <input type="text" name="name" >
    <label>What's it about??</label>
    <input type="text" name="subject">
    <label>Great All Sellted</label>
    <input type="submit">
    </form>
    