
  
  <h1><%= forum.t %></h1>
  <form
  action="/forums/<%= forum._id %>/comments"
  method="POST"
  >
<label>Whats on your mind?</label>
<textarea name="content"></textarea>
<button type="submit">submit</button>
</form>
<ul>
<% if (forum.comments.length ) { %>
      <% forum.comments.forEach(function(c) { %>
          <li><%= c.content %> <form action="/forums/<%= c._id%>?_method=DELETE" method="POST">
          <button type="submit">X</button>
          </form>
        <% }); %>
        <%}%>
   </ul>
  
  
 