
  
  <h1><%= forum.titles %></h1>
  <form
  action="/forums/<%= forum._id %>/comments"
  method="POST"
  >
<label>Whats on your mind?</label>
<textarea name="content"></textarea>
<button type="submit">submit</button>
</form>
<ul>
  <% if (forum.comments.length) { %> <% forum.comments.forEach( (r) => { %>
    <li><%=r.content%></li>
    <% }); %> <% } else { %>
    <h3>No comments Yet</h3>
    <% } %>
    </li>
  
 