<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to AllChat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Please Sign In<h3>
    <a href="/auth/google">
      <button >
        <span>Log in With google</span>
      </button>
      <%if (user){%>
        <a href="/fourms/index">
        <button>Now Join The Fun</button>
        </a>
      <%}%>
    </a>
  </body>
</html>
