<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>Welcome To BookClub</h1>
    <a href="/auth/google">
      <button class="button button-blue button-bordered">
        <span class="button--inner">Log in With google</span>
      </button>
    </a>
      
     
  </body>
</html>
<%- include('partials/footer') %>
  </body>
</html>
