body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightcoral;
  text-align: center;
}

a {
  color: #00B7FF;
}
.intro{
  display: flex;
}
.signInBox{
  display: flex;
}