
* { border: 1px solid black; }
body{
    background-color: lightcoral;
}

.container{
    display: flex 
}
.cards{
    display: flex;
    justify-content: space-between;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

li{
  color: oldlace;
}